<div id="content">
  <!--<div class="row">
    <sa-big-breadcrumbs [items]="['Table', 'Data Tables']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>-->

  <!--<sa-widgets-grid>-->


  <div class="row">
    <article class="col-sm-12">

      <div class="form-actions">
        <div class="row">
          <div class="col-md-12">
            <button (click)="create()" class="btn btn-primary" type="button">
              <i class="fa fa-save"></i>
              Create User
            </button>

          </div>
        </div>
      </div>

      <!--<button (click)="login($event)" class="btn btn-primary">Submit</button>-->
      <div>
        <!--<sa-widget [editbutton]="false" color="darken">-->
        <header>
          <!--<span class="widget-icon"> <i class="fa fa-table"></i> </span>-->

          <h2>User</h2>
        </header>
        <div>
          <div class="widget-body no-padding">
            <div class="table-responsive">

              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Sl No</th>
                  <th>Edit</th>
                  <th>User Name</th>
                  <th>Name</th>
                  <th>Reporting To</th>
                  <th>Store ID</th>
                  <th>Region</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                      <input type="checkbox" name="checkbox-inline">
                  </td>
                  <td>1</td>
                  <td>
                    <!--<input [(ngModel)]="policyId" type="text" name="accessPolicyId">{{policyId}}</input>-->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                  <td>Row 5</td>
                  <td>Row 6</td>
                  <td>Row 7</td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="checkbox-inline">
                  </td>
                  <td>2</td>
                  <td>
                    <!--<input [(ngModel)]="policyId" type="text" name="accessPolicyId">{{policyId}}</input>-->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                  <td>Row 5</td>
                  <td>Row 6</td>
                  <td>Row 7</td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="checkbox-inline">
                  </td>
                  <td>3</td>
                  <td>
                    <!--<input [(ngModel)]="policyId" type="text" name="accessPolicyId">{{policyId}}</input>-->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                  <td>Row 5</td>
                  <td>Row 6</td>
                  <td>Row 7</td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="checkbox-inline">
                  </td>
                  <td>4</td>
                  <td>
                    <!--<input [(ngModel)]="policyId" type="text" name="accessPolicyId">{{policyId}}</input>-->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                  <td>Row 5</td>
                  <td>Row 6</td>
                  <td>Row 7</td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="checkbox-inline">
                  </td>
                  <td>5</td>
                  <td>
                    <!--<input [(ngModel)]="policyId" type="text" name="accessPolicyId">{{policyId}}</input>-->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                  <td>Row 5</td>
                  <td>Row 6</td>
                  <td>Row 7</td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="checkbox-inline">
                  </td>
                  <td>6</td>
                  <td>
                    <!--<input [(ngModel)]="policyId" type="text" name="accessPolicyId">{{policyId}}</input>-->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                  <td>Row 5</td>
                  <td>Row 6</td>
                  <td>Row 7</td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
        <!--</sa-widget>-->
      </div>
      <!--<datatables-rest-demo></datatables-rest-demo>-->
    </article>


  </div>

  <!--</sa-widgets-grid>-->
</div>


<!--
<div bsModal #mdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="mdModal.hide()" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <img src="assets/img/logo.png" width="150" alt="SmartAdmin">
                </h4>
            </div>
            <div class="modal-body no-padding">

               &lt;!&ndash; <form id="login-form" class="smart-form" [saUiValidate]="{
          rules: {
            email:{
              required: true,
              email: true
            },
            password: {
              required: true
            }
          }
        }">&ndash;&gt;

                    <fieldset>
                        <section>
                            <div class="row">
                                <label class="label col col-2">Username</label>

                                <div class="col col-10">
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <input type="email" name="email">
                                    </label>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <label class="label col col-2">Password</label>

                                <div class="col col-10">
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password">
                                    </label>

                                    <div class="note">
                                        <a (click)="(null)">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <div class="col col-2"></div>
                                <div class="col col-10">
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" checked="">
                                        <i></i>Keep me logged in</label>
                                </div>
                            </div>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Sign in
                        </button>
                        <button type="button" class="btn btn-default" (click)="mdModal.hide()">
                            Cancel
                        </button>

                    </footer>
                </form>


            </div>

        </div>
    </div>
</div>-->
