
<div id="content">

  <!--<sa-widgets-grid>-->


  <div class="row">

    <article class="col-sm-12">
      <!--<div>
        <section>
          <label class="label">Policy Id</label>
            <input type="text" name="policyId" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your Policy Id" data-message-email="Please enter a VALID Policy Id">
            <b class="tooltip tooltip-top-right">
              Please enter Policy Id</b>
        </section>
      </div>-->
      <header>
        <h2>Create Role</h2>
      </header>


      <div>
        <form class="smart-form ng-untouched ng-pristine ng-valid" id="checkout-form" novalidate="novalidate">

          <fieldset>
            <div class="container">
            <div class="col-sm-4">
            <div class="row">
              <section class="col col-12">
                <label class="input"> <i class="icon-prepend fa fa-user"></i>
                  <input placeholder="Role Id" type="text">
                </label>
              </section>
            </div>
            </div>
            <div class="row">
              <section class="col col-6">
                <label class="input"> <i class="icon-prepend fa fa-user"></i>
                  <input placeholder="Role Name" type="text">
                </label>
              </section>
            </div>
            <div class="row">
              <section class="col col-6">
                <label class="input"> <i class="icon-prepend fa fa-user"></i>
                  <input placeholder="Policy" type="text">
                </label>
              </section>
            </div>
            </div>

          </fieldset>


          <footer>
            <button class="btn btn-primary" >
              Save
            </button>
            <button class="btn btn-default" class="btn btn-primary" type="button">
              Clear
            </button>
            <button class="btn btn-default" type="button">
              Go Back
            </button>

            <!--<button class="btn btn-primary" type="submit">
                Validate Form
            </button>
            <button class="btn btn-primary" type="submit">
                Validate Form
            </button>-->
          </footer>
        </form>
      </div>


    </article>


  </div>


  <!--</sa-widgets-grid>-->
</div>